$blue: #00B9F5;
$white: #FFFFFF;
$storeBackground : #D8D8D8;
$lightGrey: #f2f2f2;
$lightBlack: #242323;
$gallery: #EEEEEE;
$scorpion: #606060;
$limeade: #32BC01;
$blue: #00b9f5;
$mineShaft: #303030;
$gold: #f4cf00;
$grey: #909090;
$lightGreyBackground: #e6e6e6;
$silver: #bababa;
$ash:#dfdfdf;
$aliceBlue: #f5f7fa;

$boldFontFamily: HiraginoSans-W6;
$normalFontFamily: HiraginoSans-W3;
$hirakakuBold: HiraKakuPro-W6;
$sfproDisplay: SFProDisplay;